* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Futura Lt BT';
  src: url('https://raw.githubusercontent.com/thebartyparty/futura-light-webfont/master/FuturaBT-Light.eot');
  src: url('https://raw.githubusercontent.com/thebartyparty/futura-light-webfont/master/FuturaBT-Light.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/thebartyparty/futura-light-webfont/master/FuturaBT-Light.woff') format('woff'),
       url('https://raw.githubusercontent.com/thebartyparty/futura-light-webfont/master/FuturaBT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'futura_bkbook';
  src: url('futura_book-webfont.woff2') format('woff2'),
       url('futura_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,b,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  box-sizing:border-box
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #262626;
  quotes:"“" "”" "‘" "’";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

section p{
  margin-bottom:20px
}

section p:last-child{
  margin-bottom:0
}

.container{
  max-width:1000px;
  margin:0 auto;
  padding:20px;
}

.intro {
  padding: 55px 20px 45px 20px;
  background-color: #eafae8;
}

.about {
  padding:20px;
  background-color:#fff;
  /* light green: adfada, eafae8, emerald green: 70e6c2,
   light skyblue: eefafa, skyblue: d3f2f5*/
}

.news {
  padding:20px;
  background-color:#fbfde2;
}

.projects {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: left; */
  /* align-items: left; */
}

.publications {
  padding:20px;
  background-color:rgb(223, 227, 250);
}

.footer {
  text-align:center;
}

.details {
  padding: 20px;
}

.projectList {
  margin-bottom: 40px;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

.column {
  /* float: left; */
  width: 50%;
  padding-right: 20px;
  margin: 0px auto;
}

.column.small {
  width: 30%;
}
.column.big {
  width: 70%;
}

.column.tiny {
  width: 10%;
}

.column.huge {
  width: 90%;
}
.publicationList {
  margin-bottom: 20px;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dark{
  background-color:#202124;
  color:#fff;
}

.line {
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; */
  border-bottom: 1px solid #E5E5E5;
}

/*-- Link --------------------------------------------------*/
a {
  border-bottom: 1px solid;
  color: #000000;
  padding-bottom: .25em;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-position:0 calc(100% - 1.5px);
  border-bottom:none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23000000' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: auto 3px;
  border-bottom: 0;
  padding-bottom: .45em;
  text-decoration: none;
  cursor: pointer;
}

::selection {
  background: #68EFAD;
}

.dark a{
  color:#fff;
}

.dark a:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fff' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.textButton{
  font-size: 14px;
  letter-spacing:1px;
  margin-bottom: 20px
}

.textButton a{
  margin-right: 10px;
}

.button {
  border: 1px solid;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-color: #000000;
  /* background: #68EFAD; */
  margin-top: 20px;
  width: 100%;
  max-width: 260px;
  padding: .5rem 2rem;
  transition-duration: 0.2s;
  display: block;
  cursor: pointer;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.button:hover {
  padding: .5rem 2rem;
  background-image: none;
  background: #000;
  color: #fff;
}

.fullButton {
  border-bottom: 0px solid;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin-top: 80px;
  width: 100%;
  max-width: 860px;
  transition-duration: 0.2s;
  display: block;
  line-height: 6;
  padding: .5rem 2rem 2rem 2rem;
  cursor: pointer;
}

.fullButton:hover {
  padding: .5rem 2rem 2rem 2rem;
  background: #000;
  text-decoration: none;
  color: #fff;
}

/*-- Text --------------------------------------------------*/
h1 {
  font-family:  "Futura","Roboto Mono", "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 40px;
}

h2 {
  font-family:  "Futura","Roboto Mono","Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 10px;
}

h3 {
  font-family:  "Roboto Mono","Futura Lt BT", "Trebuchet MS", Arial, sans-serif;
  /* font-size: 14px;
  font-weight: 500;
  line-height: 25px; */
  margin: 0;
  color: #777;
  font-size:0.8rem;
  letter-spacing:1px;
  margin-bottom:10px;
}

h6 {
  font-size: 14px;
  letter-spacing:1px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

p.i {
  font-style: italic;
}

p.o {
  font-style: oblique;
}

p.title {
  font-weight: 600;
  margin-bottom: 0px;
}

b {
  font-weight: 600;
}

blockquote {
  font-family: "Georgia", serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

.footer p {
  font-size:0.8rem;
  letter-spacing:1px;
}

.projectTag{
  font-family:"Roboto Mono", "Futura", monospace;
  font-size:0.9rem;
  padding:1px 6px;
  display:inline-block;
  margin-right:5px;
  margin-bottom:5px;
  border-radius:5px;
  color:#333;
  background-color:#eaeaea;
}

.projectTag.research{
  background-color:#f2c4b7;
  color:#8f5a51;
}

.projectTag.development{
  background-color:#81D4FA;
  color: #0277BD;
}

.projectTag.coursework{
  background-color:#4FC3F7;
  color:#315951;
}

.projectTag.productDesign{
  background-color:#f3a5db;
  color:#AA5585;
}

.projectTitle {
  font-family:  "Futura","Roboto Mono","Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
}

.projectLocation{
  font-size:0.8rem;
  letter-spacing:1px;
  margin-bottom:10px;
}

.projectDescription {
  margin-top:20px;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000000;
  visibility: hidden;
  opacity: 0;
  z-index:1;
  cursor: pointer;
  transition: opacity .2s, visibility .2s;
}

.publicationConference{
  font-size: 14px;
  letter-spacing:1px;
  margin-bottom:10px
}
.publicationTitle {
  font-family:  "Futura","Roboto Mono","Futura", "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
}

.details h1 {
  margin: 0px 0px 30px 0px;
}

.details h2 {
  font-family:  "Futura","Roboto Mono","Trebuchet MS", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.details h3 {
  font-size:0.8rem;
  font-weight: 500;
}

.details h4 {
  font-weight: 800;
  margin-top: 10px;
}

.details h6 {
  font-size: 14px;
  color: grey;
  font-weight: 400;
}

.details p {
  font-size: 16px;
}

/*-- Navigation Bar --------------------------------------------------*/
.navbar {
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  z-index: 80;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  display: block;
  /* background:rgba(240, 240, 240, 0.8);  */
  /* border-bottom: 1px solid #E5E5E5; */
}

.menu .item {
  font-size: 16px;
  margin: 0 8px;
}

.menu .active {
  color: #262626;
  font-weight: bolder;
}

.menu a {
  border-bottom: 0px solid;
}

.tooltip a {
  border-bottom: 0px solid;
}
.menu .item:hover {
  /* background-image: none; */
  /* background-color: #68EFAD; */
  /* transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); */
}

/*-- Side Navigation Bar --------------------------------------------------*/
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f3f5f3d2;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #898a89;
  display: block;
  border-bottom: 0px;
}

.sidenav a:hover {
  color: #000;
}

.navcategory {
  padding: 20px 8px 6px 16px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  letter-spacing:1px;
  display: block;
  border-bottom: 0px;
}

/*-- Media --------------------------------------------------*/
.teaser, .figure {
  position: relative;
}

.teaser img, .teaser video, .teaser iframe {
  width: 100%;
  height: 280px;
  -webkit-transition: all .5s ease-in-out;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.figure img, .figure video, .figure iframe {
  width:100%;
  /* height:auto; */
  -webkit-transition: all .5s ease-in-out;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}



.teaser:hover .projectDescription {
  visibility: visible;
  opacity: 1;
}

.teaser:hover video {
  visibility: visible;
  /* opacity: 0.5; */
}

.teaser:hover img {
  visibility: visible;
  /* opacity: 0.5; */
}

.image--cover {
  width: 200px;
  height: 200px;
  display: inline-block;;
  object-fit: cover;
  object-position: center right;
  box-shadow: 8px 8px #68EFAD;
}

.image--cover:hover {
  box-shadow: 8px 8px #000;
}

/*-- Components --------------------------------------------------*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0;
  padding: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  /* background-color: #68EFAD; */
  /* transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);} */
/*#f1f1f1 #f9f9f9*/
}

@media only screen and (max-width: 600px) {
  .intro {
    padding: 10px;
  }
  .intro .container .row {
    text-align: center;
  }
  .image--cover {
    margin: 20px ;
  }
  .column {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .column.small {
    width: 100%;
    margin-bottom: 10px;
  }
  .column.big {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: left;
    text-align: left;
    margin: 0px;
  }
  .projectList {
    margin-bottom: 20px;
  }
  .teaser:hover img {
    visibility: visible;
    opacity: 1;
  }
  .teaser:hover .projectDescription {
    visibility: hidden;
    opacity: 0;
  }
  .teaser:hover video {
    visibility: visible;
    opacity: 1;
  }
  .teaser:hover img {
    visibility: visible;
    opacity: 1;
  }
  .figure {
    margin-top: 10px;
  }
  .button {
    max-width: 100%;
  }
}